<a href="https://colab.research.google.com/github/davidlealo/sic_ai_2025_jun/blob/main/02preprocesamiento/clase_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

### Crear DF desde diccionario

In [4]:
df = pd.DataFrame({'Name': ["Sebastián", "Alicia"], 'Edad': [25, 24], 'Género': ["Masculino", "Femenino"]})
print(df)

        Name  Edad     Género
0  Sebastián    25  Masculino
1     Alicia    24   Femenino

In [5]:
df["Name"]

0    Sebastián
1       Alicia
Name: Name, dtype: object

### Cambiar valor en DF

In [6]:
# Quiero cambiar en df["Género"] los valores Masculino  por 0 y Femenino por 1
df["Género"] = df["Género"].replace({"Masculino": 0, "Femenino": 1})
print(df)

        Name  Edad  Género
0  Sebastián    25       0
1     Alicia    24       1

/tmp/ipython-input-6-1301039323.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Género"] = df["Género"].replace({"Masculino": 0, "Femenino": 1})

In [7]:
df = pd.DataFrame({'Name': ["Sebastián", "Alicia", "?"], 'Edad': [ "?", 25, 24], 'Género': ["Masculino", "?", "Femenino"]})
print(df)

        Name Edad     Género
0  Sebastián    ?  Masculino
1     Alicia   25          ?
2          ?   24   Femenino

In [8]:
df = df.replace({"?": 0})
print(df)

        Name  Edad     Género
0  Sebastián     0  Masculino
1     Alicia    25          0
2          0    24   Femenino

/tmp/ipython-input-8-805099131.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({"?": 0})

### Definir index en DF

In [9]:
df = pd.DataFrame({'Name': ["Sebastián", "Alicia", "?"], 'Edad': [ "?", 25, 24], 'Género': ["Masculino", "?", "Femenino"]}, index= ["uno", "dos", "tres"])
print(df)

           Name Edad     Género
uno   Sebastián    ?  Masculino
dos      Alicia   25          ?
tres          ?   24   Femenino

### Definir columna en DF

In [10]:
df = pd.DataFrame([["Sebastián", "Alicia", "?"], [ "?", 25, 24], ["Masculino", "?", "Femenino"]])
print(df)

           0       1         2
0  Sebastián  Alicia         ?
1          ?      25        24
2  Masculino       ?  Femenino

In [11]:
df = pd.DataFrame([["Sebastián", "Alicia", "?"], [ "?", 25, 24], ["Masculino", "?", "Femenino"]], columns=["Nombre", "Edad", "Género"])
print(df)

      Nombre    Edad    Género
0  Sebastián  Alicia         ?
1          ?      25        24
2  Masculino       ?  Femenino

In [12]:
df.columns

Index(['Nombre', 'Edad', 'Género'], dtype='object')

### Ordenar valores de un DF

In [15]:

df = pd.DataFrame(
    {
        "Nombre": ["Sebastián", "Alicia", "Génesis", "Ariel"],
        "Edad": [22, 26, 25, 24],
        "Género": ["Masculino", "Femenino", "Femenino", "Masculino"]
    },
    index=["Primero", "Segundo", "Tercero", "Cuarto"]
)

print(df)

            Nombre  Edad     Género
Primero  Sebastián    22  Masculino
Segundo     Alicia    26   Femenino
Tercero    Génesis    25   Femenino
Cuarto       Ariel    24  Masculino

In [17]:
# Ordenar alfabeticamente por la columna df["Nombre"]
df = df.sort_values(by="Nombre")
print(df)

            Nombre  Edad     Género
Segundo     Alicia    26   Femenino
Cuarto       Ariel    24  Masculino
Tercero    Génesis    25   Femenino
Primero  Sebastián    22  Masculino

## Leer datos desde un archivo

In [18]:
# Cargar los datos
!wget https://raw.githubusercontent.com/davidlealo/sic_ai_2025_jun/refs/heads/main/02preprocesamiento/chapter3/data_Iris.csv

--2025-07-01 23:34:31--  https://raw.githubusercontent.com/davidlealo/sic_ai_2025_jun/refs/heads/main/02preprocesamiento/chapter3/data_Iris.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3858 (3.8K) [text/plain]
Saving to: ‘data_Iris.csv’

data_Iris.csv       100%[===================>]   3.77K  --.-KB/s    in 0s

2025-07-01 23:34:31 (53.6 MB/s) - ‘data_Iris.csv’ saved [3858/3858]

In [19]:
df = pd.read_csv("data_Iris.csv")
print(df)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [21]:
df["Species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)