<a href="https://colab.research.google.com/github/davidlealo/sic_ai_2025_jun/blob/main/02preprocesamiento/clase_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

### Crear DF desde diccionario

In [4]:
df = pd.DataFrame({'Name': ["Sebastián", "Alicia"], 'Edad': [25, 24], 'Género': ["Masculino", "Femenino"]})
print(df)

        Name  Edad     Género
0  Sebastián    25  Masculino
1     Alicia    24   Femenino

In [5]:
df["Name"]

0    Sebastián
1       Alicia
Name: Name, dtype: object

### Cambiar valor en DF

In [6]:
# Quiero cambiar en df["Género"] los valores Masculino  por 0 y Femenino por 1
df["Género"] = df["Género"].replace({"Masculino": 0, "Femenino": 1})
print(df)

        Name  Edad  Género
0  Sebastián    25       0
1     Alicia    24       1

/tmp/ipython-input-6-1301039323.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Género"] = df["Género"].replace({"Masculino": 0, "Femenino": 1})

In [7]:
df = pd.DataFrame({'Name': ["Sebastián", "Alicia", "?"], 'Edad': [ "?", 25, 24], 'Género': ["Masculino", "?", "Femenino"]})
print(df)

        Name Edad     Género
0  Sebastián    ?  Masculino
1     Alicia   25          ?
2          ?   24   Femenino

In [8]:
df = df.replace({"?": 0})
print(df)

        Name  Edad     Género
0  Sebastián     0  Masculino
1     Alicia    25          0
2          0    24   Femenino

/tmp/ipython-input-8-805099131.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({"?": 0})

### Definir index en DF

In [9]:
df = pd.DataFrame({'Name': ["Sebastián", "Alicia", "?"], 'Edad': [ "?", 25, 24], 'Género': ["Masculino", "?", "Femenino"]}, index= ["uno", "dos", "tres"])
print(df)

           Name Edad     Género
uno   Sebastián    ?  Masculino
dos      Alicia   25          ?
tres          ?   24   Femenino

### Definir columna en DF

In [10]:
df = pd.DataFrame([["Sebastián", "Alicia", "?"], [ "?", 25, 24], ["Masculino", "?", "Femenino"]])
print(df)

           0       1         2
0  Sebastián  Alicia         ?
1          ?      25        24
2  Masculino       ?  Femenino

In [11]:
df = pd.DataFrame([["Sebastián", "Alicia", "?"], [ "?", 25, 24], ["Masculino", "?", "Femenino"]], columns=["Nombre", "Edad", "Género"])
print(df)

      Nombre    Edad    Género
0  Sebastián  Alicia         ?
1          ?      25        24
2  Masculino       ?  Femenino

In [12]:
df.columns

Index(['Nombre', 'Edad', 'Género'], dtype='object')

### Ordenar valores de un DF

In [15]:

df = pd.DataFrame(
    {
        "Nombre": ["Sebastián", "Alicia", "Génesis", "Ariel"],
        "Edad": [22, 26, 25, 24],
        "Género": ["Masculino", "Femenino", "Femenino", "Masculino"]
    },
    index=["Primero", "Segundo", "Tercero", "Cuarto"]
)

print(df)

            Nombre  Edad     Género
Primero  Sebastián    22  Masculino
Segundo     Alicia    26   Femenino
Tercero    Génesis    25   Femenino
Cuarto       Ariel    24  Masculino

In [17]:
# Ordenar alfabeticamente por la columna df["Nombre"]
df = df.sort_values(by="Nombre")
print(df)

            Nombre  Edad     Género
Segundo     Alicia    26   Femenino
Cuarto       Ariel    24  Masculino
Tercero    Génesis    25   Femenino
Primero  Sebastián    22  Masculino

## Leer datos desde un archivo

In [18]:
# Cargar los datos
!wget https://raw.githubusercontent.com/davidlealo/sic_ai_2025_jun/refs/heads/main/02preprocesamiento/chapter3/data_Iris.csv

--2025-07-01 23:34:31--  https://raw.githubusercontent.com/davidlealo/sic_ai_2025_jun/refs/heads/main/02preprocesamiento/chapter3/data_Iris.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3858 (3.8K) [text/plain]
Saving to: ‘data_Iris.csv’

data_Iris.csv       100%[===================>]   3.77K  --.-KB/s    in 0s

2025-07-01 23:34:31 (53.6 MB/s) - ‘data_Iris.csv’ saved [3858/3858]

In [19]:
df = pd.read_csv("data_Iris.csv")
print(df)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [21]:
df["Species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [23]:
df.head(20)

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa

In [24]:
df.tail()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

#### Acceder a las columnas en un df

In [26]:
df['Species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [27]:
df.Species

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

#### Filtros con más de una columna

In [28]:
df[['Species', 'Sepal.Width']]

       Species  Sepal.Width
0       setosa          3.5
1       setosa          3.0
2       setosa          3.2
3       setosa          3.1
4       setosa          3.6
..         ...          ...
145  virginica          3.0
146  virginica          2.5
147  virginica          3.0
148  virginica          3.4
149  virginica          3.0

[150 rows x 2 columns]

#### Operatoria con Series

In [29]:
student1 = pd.Series({'kor': 100, 'eng': 80, 'math': 90})
student1

kor     100
eng      80
math     90
dtype: int64

In [30]:
student1 / 200

kor     0.50
eng     0.40
math    0.45
dtype: float64

#### Operatoria con df

In [31]:
import seaborn as sns

In [32]:
df = sns.load_dataset('titanic')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [34]:
df.survived.unique()

array([0, 1])

In [35]:
df.pclass.unique()

array([3, 1, 2])

In [36]:
df.sex.unique()

array(['male', 'female'], dtype=object)

In [37]:
df.age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [ ]:
# QUEDAMOS EN LA PÁGINA 283